aiohttp==3.7.4.post0; python_version >= "3.6"
altgraph==0.17.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "darwin"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_full_version >= "3.5.3" and python_version >= "3.6"
chardet==4.0.0; python_full_version >= "3.5.3" and python_version >= "3.6"
configdot==0.10.1
discord.py==1.7.3; python_full_version >= "3.5.3"
discord==1.7.3
evdev==1.4.0; sys_platform in "linux"
future==0.18.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
idna==3.3; python_version >= "3.6"
macholib==1.15.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "darwin"
mss==6.1.0; python_version >= "3.5"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.5.3"
pefile==2021.9.3; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
pyinstaller-hooks-contrib==2021.3; python_version >= "3.6" and python_version < "3.11"
pyinstaller==4.7; python_version >= "3.6" and python_version < "3.11"
pynput==1.7.4
pyobjc-core==8.0; python_version >= "3.6" and sys_platform == "darwin"
pyobjc-framework-applicationservices==8.0; python_version >= "3.6" and sys_platform == "darwin"
pyobjc-framework-cocoa==8.0; python_version >= "3.6" and sys_platform == "darwin"
pyobjc-framework-quartz==8.0; python_version >= "3.6" and sys_platform == "darwin"
python-xlib==0.31; sys_platform in "linux"
pywin32-ctypes==0.2.0; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform in "linux" or python_full_version >= "3.3.0" and sys_platform in "linux"
typing-extensions==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.5.3"
